@model Party

@{ 
    ViewData["Title"] = "Party details";
}

<div class="text-center">
    <h2>@Model.Name</h2>
</div>

<hr />
<div class="text-center">
    <h2>Party Members</h2>

    <h3>Placeholder - member cards</h3>

    <form class="form-inline">
        <label class="sr-only" for="inlineFormInputEmail">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputEmail" placeholder="friend@email.com">
        <button type="submit" class="btn btn-primary mb-2">Add Member</button>
    </form>
</div>

<hr />

<h3>Placeholder - swiper area</h3>

<hr />

<h3>Placeholder - matches area</h3>
