body {

}

.swipeDraggable {
    min-width: 12rem;
    max-width: 12rem;
    cursor: pointer;
}

.swipeLandingRed {
    width: 300px;
    background-color: #F09292;
}

.swipeLandingGreen {
    width: 300px;
    background-color: #B1F6B4;
}
