@{
    ViewData["Title"] = "Statistics";
}

<div class="text-center">
    <h2>Statistics Panel</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <canvas id="chart1"></canvas>
        </div>
        <div class="col">
            <canvas id="chart2"></canvas>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <canvas id="chart3"></canvas>
        </div>
        <div class="col">
            <canvas id="chart4"></canvas>
        </div>
    </div>
</div>
<p>* Mock data as there isn't enough in the database to accurately display the information. Actual data can be plugged in when using a real system.</p>

@section Scripts {
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/js/StatisticsPanel1.js"></script>
    <script src="~/js/StatisticsPanel2.js"></script>
    <script src="~/js/StatisticsPanel3.js"></script>
    <script src="~/js/StatisticsPanel4.js"></script>
}