@model MovieViewModel

@{
    ViewBag.Title = "Add movie";
}

<div class="text-center">
    <h2>Add a movie to the database</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" 
                       class="form-control" 
                       name="Title"
                       data-val="true"
                       data-val-required="The movie title is required."
                       aria-describedby="title-error"
                       aria-invalid="true"/>
                <span asp-validation-for="Title" 
                      class="field-validation-error text-danger ml-2 text-danger" 
                      data-valmsg-for="Title" 
                      data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthInMinutes"></label>
                <input asp-for="LengthInMinutes" 
                       class="form-control" 
                       name="LengthInMinutes"
                       data-val="true"
                       data-val-required="The movie runtime (minutes) is required."
                       data-val-number="The movie runtime must be a number. Example: 120"
                       aria-describedby="length-in-minutes-error"
                       aria-invalid="true"/>
                <span asp-validation-for="LengthInMinutes" 
                      class="field-validation-error text-danger ml-2 text-danger" 
                      data-valmsg-for="LengthInMinutes" 
                      data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear"></label>
                <input asp-for="ReleaseYear" 
                       class="form-control" 
                       name="ReleaseYear"
                       data-val="true"
                       data-val-required="The movie release year is required."
                       data-val-number="The movie release year must be a number. Example: 2011"
                       aria-describedby="release-year-error"
                       aria-invalid="true"/>
                <span asp-validation-for="ReleaseYear" 
                      class="field-validation-error text-danger ml-2 text-danger" 
                      data-valmsg-for="ReleaseYear" 
                      data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating"></label>
                <input asp-for="Rating" 
                       class="form-control" 
                       name="Rating"
                       data-val="true"
                       data-val-required="The movie rating is required."
                       data-val-number="The movie rating must be a number. Example: 7.1"
                       aria-describedby="rating-error"
                       aria-invalid="true"/>
                <span asp-validation-for="Rating" 
                      class="field-validation-error text-danger ml-2 text-danger" 
                      data-valmsg-for="Rating" 
                      data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainGenre"></label>
                <select asp-for="MainGenre" 
                        class="form-control"
                        name="MainGenre"
                        data-val="true"
                        data-val-required="The movie main genre is required."
                        aria-describedby="main-genre-error"
                        aria-invalid="true">
                    <option>Action</option>
                    <option>Adventure</option>
                    <option>Comedy</option>
                    <option>Crime</option>
                    <option>Drama</option>
                    <option>Fantasy</option>
                    <option>Horror</option>
                    <option>Mystery</option>
                    <option>Romance</option>
                    <option>Sci-Fi</option>
                    <option>Western</option>
                </select>
                <span asp-validation-for="MainGenre" 
                      class="field-validation-error text-danger ml-2 text-danger" 
                      data-valmsg-for="MainGenre" 
                      data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubGenre1"></label>
                <select asp-for="SubGenre1" 
                        class="form-control"
                        name="SubGenre1"
                        data-val="true"
                        data-val-required="The movie first sub-genre is required."
                        aria-describedby="sub-genre-1-error"
                        aria-invalid="true">
                    <option>Action</option>
                    <option>Adventure</option>
                    <option>Comedy</option>
                    <option>Crime</option>
                    <option>Drama</option>
                    <option>Fantasy</option>
                    <option>Horror</option>
                    <option>Mystery</option>
                    <option>Romance</option>
                    <option>Sci-Fi</option>
                    <option>Western</option>
                </select>
                <span asp-validation-for="SubGenre1" 
                      class="field-validation-error text-danger ml-2 text-danger" 
                      data-valmsg-for="SubGenre1" 
                      data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubGenre2"></label>
                <select asp-for="SubGenre2" 
                        class="form-control"
                        name="SubGenre2"
                        data-val="true"
                        data-val-required="The movie second sub-genre is required."
                        aria-describedby="sub-genre-2-error"
                        aria-invalid="true">
                    <option>Action</option>
                    <option>Adventure</option>
                    <option>Comedy</option>
                    <option>Crime</option>
                    <option>Drama</option>
                    <option>Fantasy</option>
                    <option>Horror</option>
                    <option>Mystery</option>
                    <option>Romance</option>
                    <option>Sci-Fi</option>
                    <option>Western</option>
                </select>
                <span asp-validation-for="SubGenre2" 
                      class="field-validation-error text-danger ml-2 text-danger" 
                      data-valmsg-for="SubGenre2" 
                      data-valmsg-replace="true"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}