@{
    ViewData["Title"] = "All movies";
}

<div class="text-center">
    <h2>All movies</h2>
</div>
@{ 
    int page = (int) ViewData["page"];
    int cards = (int) ViewData["cards"];
}
@await Component.InvokeAsync("AllLatestHighestRated", new { page = page, cards = cards });
