@model AllMoviesViewModel

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h2>Welcome to Movie Recommendations</h2>
</div>


@await Component.InvokeAsync("LatestPopular") 

@await Component.InvokeAsync("DistanceContentBasedFiltering") 