

<div class="row">
    <div class="col"><img src="/img/action.jpg" alt="Action Movie Poster" width="300" height="300"></div>
    <div class="col"><img src="/img/adventure.jpg" alt="Adventure Movie Poster" width="300" height="300"></div>
    <div class="col"><img src="/img/comedy.jpg" alt="Comedy Movie Poster" width="300" height="300"></div>
    <div class="col"><img src="/img/crime.jpg" alt="Crime Movie Poster" width="300" height="300"></div>
    <div class="col"><img src="/img/default.jpg" alt="Default Movie Poster" width="300" height="300"></div>
</div>
<div class="row">
    <div class="col"><img src="/img/drama.jpg" alt="Drama Movie Poster" width="300" height="300"></div>
    <div class="col"><img src="/img/fantasy.jpg" alt="Fantasy Movie Poster" width="300" height="300"></div>
    <div class="col"><img src="/img/horror.jpg" alt="Horror Movie Poster" width="300" height="300"></div>
    <div class="col"><img src="/img/mystery.jpg" alt="Mystery Movie Poster" width="300" height="300"></div>
    <div class="col"><img src="/img/romance.jpg" alt="Romance Movie Poster" width="300" height="300"></div>
</div>
<div class="row">
    <div class="col"><img src="/img/sci-fi.jpg" alt="Sci-Fi Movie Poster" width="300" height="300"></div>
    <div class="col"><img src="/img/western.jpg" alt="Western Movie Poster" width="300" height="300"></div>
</div>